.user-infos-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: 50px;
  border: 2px solid black;
  width: 40%;
  margin: 60px auto;
  border-radius: 8px;
  box-shadow: 3px 3px 3px black;
}

.user-infos-container p {
  font-size: 20px;
}

.user-infos-container spam {
  margin-left: 5px;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.edit-profile-link {
  text-decoration: none;
  background-color: green;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px grey;
  color: white;
}